body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

main {
    display: flex;
}

#box {
    width: fit-content;
    display: grid;
    gap: 4px;

    margin: 20px;
}

#title {
    margin-left: 25px;
}

.row {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    column-gap: 10px;
}

.group {
    display: flex;
}

.seat {
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 2px;
    padding: 4px;
    border: 1px rgb(118, 124, 151) solid;
    border-radius: 2px;
    background-color: rgba(220, 220, 220, 0.2);

    font-size: 0.5rem;

    cursor: pointer;
}

#details h3 {
    display: flex;
    margin: 0 20px;
}

.occupied {
    background-color: rgb(38, 247, 38);
    position: relative;
}

.occupied:hover {
    background-color: rgba(38, 247, 38, 0.5);
}

.hasSpecialMeal::before {
    content: "";
    display: block;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 8px;
    height: 8px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #ce1351c7;
    transform: scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 #ce13518f;
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 2px rgba(206, 19, 81, 0.4);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(206, 19, 81, 0.1);
    }
}
